- title "Users"

%table
  %tr
    %th Name
    %th Email
    %th Address
    %th City
    %th Phone number
  - for user in @users
    %tr
      %td= user.name
      %td= user.email
      %td= user.address
      %td= user.city
      %td= user.phone_number
      %td= link_to 'Show', user
      %td= link_to 'Edit', edit_user_path(user)
      %td= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New User", new_user_path
