- title "User"

%p
  %strong Name:
  = @user.name
%p
  %strong Email:
  = @user.email
%p
  %strong Address:
  = @user.address
%p
  %strong City:
  = @user.city
%p
  %strong Phone Number:
  = @user.phone_number

%p
  = link_to "Edit", edit_user_path(@user)
  |
  = link_to "Destroy", @user, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", users_path
